@import "tailwindcss";

body {
  @apply bg-[#f0f0f0] text-[#232323];
}
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

.regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
  font-weight: 600;
  font-style: normal;
}
.bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
  }
}

.link {
  color: inherit;
  text-decoration: underline;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
  }
}

